.dropdown{
  max-width: 121px;
  background-color: #f4f4f4;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  user-select: none;

  &__selected {
    max-width: 121px;
    height: 17px;
    margin: 0;
    overflow: hidden;
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__arrow-down {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #777;
    transform: rotate(90deg);
    transition: all .2s ease-in-out;
  }

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    font-weight: 500;
    font-size: 12px;
    height: 100%;
  }

  &__content-item {
    position: absolute;
    z-index: 1;
    width: 170px;
    margin-top: 7px;
    overflow: hidden;
    background-color: white;
    border: 1px solid #cacaca;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 15%);
  }

  &__item {
    padding: 8px 12px;
    color: #222;
    font-size: 12px;
    cursor: pointer;

    &:hover {
      background-color: #f4f4f4;
    }
  }

}
