[data-menu-icons-content] {
  [data-menu-icons-list] {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
    margin-top: 20px;

    [data-menu-icons-item] {
      align-items: center;
      display: flex;
      font-size: 12px;
      font-weight: 500;

      [data-menu-icons-link] {
        color: #000000;
        margin-left: 10px;
        text-decoration: none;
      }
    }
  }
}
